<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Sistema Evaluaciones{% endblock %}</title>
    <link rel="stylesheet" href="../css/estilo.css">
</head>
<body>
    <header>
        <h1>{{ Institute }}</h1>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p>&copy; {{ "now"|date("Y") }} Instituto XYZ</p>
    </footer>
</body>
</html>
